fafscripts/site.db
*.sh
*.png
*.otf
test.py
/exports/
/venv/
__pycache__/
fafscripts/pass_test/__pycache__/
fafscripts/site.db
fafscripts/__pycache__/
fafscripts/main/__pycache__/
fafscripts/scripts/__pycache__/
fafscripts/users/__pycache__/
/fafscripts/modules/secrets.py
/fafscripts/modules/__pycache__/
/fafscripts/static/profile_pics/
*.log
*.log.*
*.docx
