{% extends "layout.html" %}

{% block content %}

<div class="container">

  <div class="row">

    <div class="btn-group">
    <button type="button" class="btn btn-success" id="cat-button"><i class="bi-info"></i> Info</button>
    <!-- <button type="button" class="btn btn-success" id="log-button"><i class="bi-hdd"></i> Logistics</button> -->
    </div>

  </div>

  <div class="content-section" id="info" style="display:block">

    <h2>🎭{{ event_data.name }}</h2>

    <div class="row">
      <p class="text-muted"> {{ time }} at <a href={{ venue.notion_url }}>{{ venue.name }}</a>.</p>
    </div>

    {% if event_data.get('text-catalogue') %}
    <div class="row">
        <small class="text-muted"> Text catalogue:</small>
        {{ event_data.get('text-catalogue') | safe }}
    </div>
    {% endif %}

    {% if event_data.get('description-functionaries') %}
    <div class="row">
        <small class="text-muted">Schedule text (functionaries):</small>
        {{ event_data.get('description-functionaries')  | safe }}
    </div>
    {% endif %}

    {% if event_data.get('description-schedule') %}
    <div class="row">
        <small class="text-muted">Schedule text (attendees):</small>
        {{ event_data.get('description-schedule') | safe }}
    </div>
    {% endif %}

  </div>

  <div class="content-section" id="issues" style="display:none">

    <h2>⚠️ Potential issues with this database entry</h2>
    <div class="list-group">
    {% for error in issues.errors %}
    <a href="{{ error.url }}" target="_blank" class="list-group-item list-group-item-action list-group-item-danger">{{ error.message }}</a>
    {% endfor %}
    {% for warning in issues.warnings %}
      <a href="{{ warning.url }}" target="_blank" class="list-group-item list-group-item-action list-group-item-warning">{{ warning.message }}</a>
    {% endfor %}
    {% for message in issues.messages %}
      <a href="{{ message.url }}" target="_blank" class="list-group-item list-group-item-action list-group-item-secondary">{{ message.message }}</a>
    {% endfor %}
    </div>

  </div>

</div>



{% endblock content %}

{% block sidebar %}

<div class="col-md-4">
  <div class="content-section">
    <h3>🤖 Scripts and links</h3>
    <p class='text-muted'>Execute scripts or visit related links:
      <div class="list-group">
        {% if issue_count > 0 %}
          <a href="#" class="list-group-item list-group-item-action list-group-item-warning" id="issues-button"><i class="bi-exclamation-triangle"></i> Show/hide {{ issue_count }} potential issue(s)</a>
        {% else %}
          <a href="#" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-hand-thumbs-up"></i> No issues found :)</a>
        {% endif %}
        <a href="{{ event.url }}" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-pencil"></i> View/edit on Notion</a>
        {% if not event_data.get('eventive') and error_count == 0%}
        <a href="{{ url_for('scripts.event_to_eventive', notion_id=event_data.id, mode='create') }}" id="eventive-button" class="list-group-item list-group-item-action list-group-item-warning"><i class="bi-robot"></i> Push to Eventive (physical)</a>
        {% endif %}
        {% if event_data.get('eventive') %}
        <a href="{{ url_for('scripts.event_to_eventive', notion_id=event_data.id, mode='update') }}" id="eventive-button" class="list-group-item list-group-item-action list-group-item-warning"><i class="bi-robot"></i> Update Eventive</a>
        <a href="{{ event_data.get('eventive') }}" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-pencil"></i> View/edit on Eventive</a>
        {% endif %}
        {% if not event_data.get('eventive-virtual') and error_count == 0%}
        <a href="{{ url_for('scripts.push_virtual_event', notion_id=event_data.id) }}" class="list-group-item list-group-item-action list-group-item-warning"><i class="bi-robot"></i> Create virtual event</a>
        {% endif %}
        {% if event_data.get('eventive-virtual') %}
        <a href="{{ url_for('scripts.push_virtual_event', notion_id=event_data.id) }}"  id="eventive-virtual-button" class="list-group-item list-group-item-action list-group-item-warning"><i class="bi-robot"></i> Update Eventive (Virtual)</a>
        <a href="{{ event_data.get('eventive-virtual') }}" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-pencil"></i> View/edit on Eventive (Virtual)</a>
        {% endif %}
        {% if not event_data.get('wordpress')%}
        <a href="{{ url_for('scripts.event_to_wordpress', notion_id=event_data.id) }}" id="wordpress-button" class="list-group-item list-group-item-action list-group-item-warning"><i class="bi-wordpress"></i> Push to WordPress</a>
        {% else %}
        <a href="{{ event_data.get('wordpress') }}" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-wordpress"></i> View/edit on WordPress</a>
        {% endif %}
        <a href="{{ url_for('dbviews.events_overview') }}" class="list-group-item list-group-item-action list-group-item-success"><i class="bi-arrow-left"></i> Back to overview</a>
      </div>
    </p>
  </div>
</div>

{% endblock sidebar %}

{% block javascript %}

<script type="text/javascript">

var issuesButton = document.getElementById("issues-button");
var issues = document.getElementById("issues");
var eventiveVirtualButton = document.getElementById('eventive-virtual-button');
var eventiveButton = document.getElementById('eventive-button');

function registerButtonHandlers(e) {
    if(issuesButton != null){
      issuesButton.addEventListener("click", issuesButtonClicked);
    }
    if(eventiveVirtualButton != null){
      eventiveVirtualButton.addEventListener("click", eventiveVirtualButtonClicked);
    }
    if(eventiveButton != null){
      eventiveButton.addEventListener("click", eventiveButtonClicked);
    }
}

if (document.readyState == "loading")
    document.addEventListener('DOMContentLoaded', registerButtonHandlers);
else
    registerButtonHandlers();

function issuesButtonClicked(){
    if (issues.style.display === "none") {
        issues.style.display = "block";
    } else {
      issues.style.display = "none";
    }
}

function eventiveVirtualButtonClicked(){
    eventiveVirtualButton.innerHTML = "Script running...";
}

function eventiveButtonClicked(){
    eventiveButton.innerHTML = "Script running...";
}



</script>

{% endblock javascript %}

