{% extends "layout.html" %}
{% block content %}
  <div class ="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Test</legend>



        <!-- password -->
        <div class="form-group">
          {{ form.select.label(class="form-control-label") }}
          {{ form.select(class="form-control form-control-lg") }}
      </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
          
        </div>
    </form>
  </div>
{% endblock content %}
