{% extends "layout.html" %} {% block description %} Pick a guest to see the
information that is stored on Notion, find out about potential issues, execute
scripts and more. Unfortunately, schedules have a lot of dependencies; Should
you run into any issues, you can try to update the list of
<a href="{{ url_for('main.rebuild_model', model_name='GuestCategoryChoice') }}"
  >guest categories</a
>
,
<a href="{{ url_for('main.rebuild_model', model_name='Guest') }}">guests</a>
,
<a href="{{ url_for('main.rebuild_model', model_name='EventCategory') }}"
  >event categories</a
>
,
<a href="{{ url_for('main.rebuild_model', model_name='Event') }}">events</a>
and/or
<a href="{{ url_for('main.rebuild_model', model_name='Venue') }}">venues</a>
(in this sequence). {% endblock description %} {% block content %}

<div class="row">
  <div class="content-section col-12">
    <h4>Jump to category:</h4>
    {% for guest_category in guest_categories %}
    <a
      class="btn btn-sm"
      href="{{ url_for('dbviews.guests_overview')}}#{{ guest_category.name }}"
      class="text-muted"
    >
      {{ guest_category.name }}</a
    >
    {% endfor %}
  </div>
</div>

<div>
  {% for guest_category in guest_categories %} {% if not loop.index % 2 == 0 %}
  <div class="row">
    {% endif %}

    <div class="content-section col-md-6" id="{{ guest_category.name }}">
      <h4>{{ guest_category.name }}</h4>
      {% for guest in guests%} {% if guest_category.name in guest.category %}
      <a
        href="{{ url_for('dbviews.guest_view', notion_id=guest.notion_id)}}"
        class="fs-6 text"
        >{{ guest.name }}</a
      ><br />
      {% endif %} {% endfor %}
    </div>

    {% if loop.index % 2 == 0 or loop.last %}
  </div>
  {% endif %} {% endfor %}
</div>

{% endblock content %} {% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h3>💢 Found an issue?</h3>
    <p class="text-muted">
      Let me know about problems, errors or features you would like to see on
      <a
        href="https://www.notion.so/b2d8f5426c66482fa22d24ba8b0168ba?v=d14c7e63ffc34ad5acf06bfd14a0e3ff"
      >
        Notion.</a
      >
    </p>
  </div>
</div>
{% endblock sidebar %}
